.pi-account-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    >.pi-login {
        margin-top: -5vh;
        padding: 40px 40px 0 20px;
        height: 350px;
        width: 500px;
        border-radius: 2em;
        box-shadow: 0px 0px 20px #ccc;
        background-color: #00224F;
        >.layui-form {
            text-align: left;
            >.layui-form-item {
                &.pi-title {
                    padding-bottom: 30px;
                    text-align: center;
                    >img {
                        width: 160px;
                        height: 40px;
                    }
                }
                &.pi-verify {
                    >.pi-verify-img {
                        >a {
                            color: #fff;
                            >img {
                                margin-right: 15px;
                                width: 100px;
                                height: 40px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                &.pi-btns {
                    padding-top: 15px;
                    text-align: center;
                    >.pi-btn-login {
                        margin-right: 25px;
                    }
                }
                >.layui-input-inline {
                    width: 160px;
                }
            }
        }
    }
}