html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #1b2431;
    color: #fff;
    font-size: 14px;
    text-align: center;
    >.pi-footer {
        margin-left: 50%;
        transform: translateX(-50%);
        position: fixed;
        bottom: 10px;
        font-size: 12px;
        >.pi-first-row {
            >a {
                position: relative;
                padding-right: 20px;
                color: #fff;
                &::after {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    width: 1px;
                    height: 1em;
                    content: ' ';
                    background-color: #fff;
                }
            }
        }
    }
}